.spons-shared-styles .spon-announce {
  background: url(../images/natural-paper.png) repeat;
}
.spons-shared-styles .spon-tier ul.tier-list > li {
  font-size: 1.1em;
}
.page-content {
  padding: 1px 0;
}
