@import "_mixins.less";
@import "_responsive-mixins.less";

/***
 * layout
 ***/
@section-heading: #004566;

.section-heading {
    color: @section-heading;
    font: @hf-normal 2em/1 @heading-font;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0px 1px @cusec-blue;

    @media @iphone {
        font-size: 1.5em;
    }

    @media @ipad {
        font-size: 1.7em;
    }

    &:before {
        margin-left: -35px;
    }

    &:after {
        padding-left: 25px;
    }

    &:before, &:after {
        content: '♦';
        font-size: 0.5em;
        margin-top: -8px;
        position: absolute;
        top: 50%;

        @media @iphone {
            margin-top: -4px;
        }

        @media @ipad {
            margin-top: -6px;
        }
    }

}

.section-subheading(@border: darken(@cusec-blue, 5%)) {
    border-bottom: 2px solid @border;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    padding-bottom: 1px;

    @media @iphone {
        font-size: 1.1em;
    }

    @media @ipad {
        font-size: 1.3em;
    }
}

/***
 * navigation
 ***/
.nav {
    font: @hf-normal 1.2em/1 @heading-font;

    li {
        a, a:visited {
            color: @black;
            display: block;
            text-decoration: none;
            text-transform: uppercase;

            &:hover, &:focus {
            }
        }
    }

    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
        a {}
    }
}

/***
 * header
 ***/
@hn-link-border: @grey;
@hn-link-border-hover: @cusec-blue;
@header-logo-border: @cusec-orange;

.header {
    margin: 5px auto 8px auto;

    .logo-wrapper {
        float: left;
        line-height: 1;
        height: 40px;
        padding-top: 15px;
        .slide-border(@header-logo-border, 0);

        .cusec-logo {
            width: 146px;
        }

        &.is-home {
        }

        @media @iphone {
            display: block;
            float: none;
            text-align: center;
            width: 100%;
            .slide-border-disabled;
        }
    }
}

.header-nav {
    float: right;
    padding: 0;

    @media @iphone {
        float: left;
        width: 100%;
    }

    ul {
        margin: 5px 0;


        li {
            display: inline-block;
            margin-left: -4px; /* inline-block fix */

            @media @iphone {
                border-top: 1px solid @grey;
                display: block;
                width: 100%;
            }

            a {
                padding: 10px 10px 3px 10px;
                .slide-border;

                &.disabled {
                    .slide-border-disabled;
                    cursor: default;

                    .comingsoon {
                        color: darken(@grey, 20%);
                        font-size: 0.5em;
                        position: absolute;
                        text-align: center;
                        opacity: 0;
                        padding: 3px 0 0 10px;
                        .transition(opacity, 0.2s, ease-in-out);
                    }

                    &:hover .comingsoon {
                        opacity: 100;
                    }
                }

                @media @iphone {
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                    .slide-border-disabled;

                    &:hover {
                        color: @cusec-blue;
                    }
                }
            }

            &:first-child a {
                padding-left: 0;
            }

            &:last-child a {
                padding-right: 0;
            }
        }

        li.current-menu-item,
        li.current_page_item,
        li.current_page_ancestor {
            a {
                border-bottom: 2px solid @hn-link-border-hover;
            }
        }
    }
}

/***
 * herounit
 ***/
.herounit {
    background: url(../images/herounit-1800.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    display: table;
    min-height: 500px;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    @media @iphone {
        background-size: cover;
    }

    .transition(height, .2s, ease-in-out);
}

.hu-content {
    display: table-cell;
    padding: 40px 20px;
    vertical-align: middle;
    text-align: center;
}

.hu-subheading {
    font: @hf-normal 1.2em/1 @heading-font;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: uppercase;

    @media @iphone {
        font-size: 1.0em;
        line-height: 1.8;
    }

    @media @iphone-h {
        width: 340px;
    }

    @media @iphone-v {
        width: 250px;
    }
}

.hu-date-loc {
    font: @hf-normal 2.0em/1.5 @heading-font;
    margin: 0.8em;

    @media @iphone-v {
        font-size: 1.7em;
    }
}


.hu-desc {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-top: 2em;

    @media @iphone-v {
        width: 200px;
    }

    @media @iphone-h {
        width: 360px;
    }

    @media @iphone {
        margin: 2em auto 0 auto;
    }
}

.hu-content .cusec-logo {
    max-width: 500px;
    width: 80%;
}

/***
 * content
 */
.content {
    .boxShadow(-2px, 1px, 8px, 0, lighten(@black, 50%));
}

.home-section {
    text-align: center;
    padding: 20px;

    ul {
        font-size: 0.9em;
        line-height: 2em;
        margin: 1.3em;
    }
}

/***
 * venue
 */
.venue {
    background: url(../images/white-wall.png) repeat;
    height: 80px;
    overflow:hidden;

    .venue-details {
        margin: 0 auto;
    }
}

/***
 * speakers
 */
.speakers {
    background: url(../images/diamond-upholstery.png) repeat;
    .boxShadow( 2px, 2px, 5px, 0, lighten(@black, 65%) );

    .speaker-subheading {
        .section-subheading;
        font-size: 1.3em;
    }

    .non-keynotes {
        .columns(2);

        @media @ltipad {
            .columns(1);
        }
    }

    ul > li {
        margin: 0.8em 0;
    }

    .spk-name {
        font-weight: @bf-bold;
    }

    .spk-job {
        @media @iphone {
            display: none
        }

        @media @ipad {
            display: block;
        }

        &:before {
            content: ' — ';
            display: inline-block;
            padding: 0 4px;

            @media @ipad {
                content: '';
            }
        }
    }
}

.sponsors {
    @horiz-padding: 2.6em;
    @horiz-padding-ipad: 2.1em;
    @horiz-padding-widescreen: 3.5em;
    //background: url(../images/natural-paper.png) repeat;
    //background: url(../images/geometry.png) repeat;
    //background: url(../images/geometry2.png) repeat;
    //background: url(../images/white-wall.png) repeat;

    .spon-tier {
        display: inline-block;

        @media @iphone {
            display: block;
        }

        .tier-subheading {
            .section-subheading(@cusec-orange);
            color: darken(@grey, 40%);
            font-size: 0.9em;
            padding: 0;
            margin: 1em auto 0;
        }

        ul {
            margin: 0.7em 0;
            padding: 0 @horiz-padding;
            border-right: 1px solid darken(@grey, 10%);

            @media @iphone {
                border: none;
            }

            @media @ipad {
                padding: 0 @horiz-padding-ipad;
            }

            @media @widescreen {
                padding: 0 @horiz-padding-widescreen;
            }

            &.last-child {
                border-right: none;
            }

            li {
                display: inline-block;
                font-size: 1.1em;
                padding: 0.3em 0;
                margin-right: @horiz-padding;

                &:last-child {
                    margin-right: 0;
                }

                @media @iphone {
                    display: block;
                    margin-right: 0;
                }

                @media @ipad {
                    font-size: 1em;
                    margin-right: @horiz-padding-ipad;
                }

                @media @widescreen {
                    font-size: 1.2em;
                    margin-right: @horiz-padding-widescreen;
                }
            }

        }

    }

    hr {
        width: 200px;
    }
}

.schools {
    background: url(../images/geometry.png) repeat;
    //background: url(../images/diamond-upholstery.png) repeat;

    ul {
        .columns(3);

        @media @iphone-v {
            .columns(1);
        }

        @media @iphone-h {
            .columns(2);
        }
    }
}

/***
 * footer
 ***/
@footer-content: lighten(@black, 30%);

.footer {

    background: url(../images/hexabump.png) repeat;
    color: @footer-content;
    font: @hf-normal 0.8em/1.5 @heading-font;
    padding: 10px 0;
    margin: 0;

    a, a:visited {
        color: @footer-content;
        text-decoration: none;

        &:hover, &:focus {
            color: @link-hover;
        }
    }

    p {
        position: relative;
        z-index: 2;

        @media @iphone {
            display: block;
            text-align: center;
            float: none;
        }
    }

    .cusec-credit {
        display: inline-block;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;

        @media @iphone {
            display: block;
            position: relative;
        }
    }
}