.page-profiles {
    .clearfix;
    margin-bottom: 20px;

    .section-heading {
        text-align: center;
    }

    .profiles {
        margin: 0 auto;

        &> li {
            .clearfix;
            display: table;
            margin: 30px 0;
            text-align: left;

            @media @iphone {
                display: block;
            }
        }

        .profile-text {
            display: table-cell;
            vertical-align: middle;

            @media @iphone {
                display: block;
            }
        }

        p {
            display: block;
            line-height: 2;
            margin: 15px auto 0;
        }

        .profile-pic {
            float: left;
            margin-right: 40px;

            @media @ltipad {
                margin-right: 20px;
            }
        }
    }

}

.profiles {
    .profile-name,
    .profile-title {
        font: @hf-normal 2em/0.8 @heading-font;
        color: darken(@cusec-blue, 8%);
        font-size: 1.2em;
        line-height: 2;

        a {
            color: darken(@cusec-blue, 8%);
        }
    }

    .profile-name:after {
        content: ' / ';
        }

    .profile-pic {
        border: 2px solid @cusec-blue;
        border-radius: 50%;
        width: 150px;

        @media @iphone {
            display: block;
            width: 80px;
        }

        @media @ipad {
            width: 100px;
        }
    }
}
