.page-content {
    border-top: 1px solid @grey;
    background: url(../images/ps-neutral.png) repeat;
    //background: url(../images/white-wall.png) repeat;
    .boxShadow(none);
}

.page-schools {
    .spons-shared-styles;
    text-align: center;

    hr.spon-div {
        margin: 0 auto;
        width: 200px;
    }

    .spon-cta {
        margin: 20px auto;
    }

    ul.tier-list > li {
        display: block;

        .spon-link {
            @link-color: darken(@cusec-blue, 20%);
            @link-hover: @cusec-blue;

            color: @link-color;
            display: block;
            font-size: 0.8em;
            margin: 20px auto;
            opacity: 0.9;
            width: 600px;

            @media @iphone-v {
                width: 300px;
            }

            @media @iphone-h {
                width: 400px;
            }

            @media @ltipad {
                font-size: 0.9em;
            }

            &:hover, &:focus {
                color: @link-hover;
                opacity: 1.0;

                .spon-logo {
                    background-color: @white;
                }
            }

            .spon-logo {
                border: 5px solid @grey;
                background-color: mix(@white, @grey, 70%);
                padding: 20px;
                display: block;
                margin: 0 auto 20px;

                &.csec {
                    height: 300px;
                    width: auto;

                    @media @iphone-v {
                        height: 200px;
                    }

                    @media @iphone-h {
                        height: 250px;
                    }
                }

                &.ibm {
                    width: 400px;

                    @media @iphone-v {
                        width: 200px;
                    }

                    @media @iphone-h {
                        width: 300px;
                    }
                }
            }
        }
    }

    .tier-partner .spon-logo { width: 100%; }
    //.tier-platinium .spon-logo { width: 90%; }
    .tier-gold .spon-logo { width: 90%; }
    .tier-silver .spon-logo { width: 80%; }
    .tier-bronze .spon-logo { width: 70%; }
}
