.page-content {
    border-top: 1px solid @grey;
    background: url(../images/ps-neutral.png) repeat;
    //background: url(../images/white-wall.png) repeat;
    .boxShadow(none);
}

.page-team {
    .clearfix;
    text-align: center;
    margin-bottom: 50px;

    .team-profiles {
        margin: 0 auto;
    }

    .team-profile {
        box-sizing: border-box;
        float: left;
        height: 425px;
        text-align: center;
        padding: 0 50px;
        margin: 20px 0;
        width: 49%;

        &:nth-child(odd) {
            border-right: 1px solid darken(@grey, 10%);
        }

    }

    .profile-name,
    .profile-pos {
        font: @hf-normal 2em/0.8 @heading-font;
        color: darken(@cusec-blue, 8%);
        display: block;
        font-size: 1.2em;
        line-height: 2;

        a {
            color: darken(@cusec-blue, 8%);
        }
    }

    .profile-pic {
        border-radius: 50%;
        display: block;
        margin: 20px auto;
        height: 200px;
        width: 200px;
    }

    .profile-desc {
    }

}
