.page-content {
    border-top: 1px solid @grey;
    background: url(../images/ps-neutral.png) repeat;
    //background: url(../images/white-wall.png) repeat;
    .boxShadow(none);
}

.page-team {
    text-align: center;
    margin-bottom: 50px;

    .member-pic {
        width: 100px;
    }

}
