.page-content {
    background: url(../images/white-wall.png) repeat;
    .boxShadow(none);
}

.sponsors.page-sponsors {
    .spons-shared-styles;
    text-align: center;

    hr.spon-div {
        margin: 0 auto;
        width: 200px;
    }

    .spon-cta {
        margin: 20px auto;
    }

    .tier-subheading {
        .section-subheading;
    }

    ul.tier-list > li {
        display: block;

        .spon-link {
            @link-color: darken(@cusec-blue, 20%);
            @link-hover: @cusec-blue;

            color: @link-color;
            display: block;
            font-size: 0.8em;
            margin: 20px auto;
            opacity: 0.9;
            width: 600px;

            @media @iphone-v {
                width: 300px;
            }

            @media @iphone-h {
                width: 400px;
            }

            @media @ltipad {
                font-size: 0.9em;
            }

            &:hover, &:focus {
                color: @link-hover;
                opacity: 1.0;

                .spon-logo {
                    background-color: mix(@white, @grey, 0.9);
                }
            }

            .spon-logo {
                background-color: @grey;
                padding: 20px;
                display: block;
                margin: 0 auto 20px;
            }
        }
    }

    .tier-partner .spon-logo { width: 100%; }
    //.tier-platinium .spon-logo { width: 90%; }
    .tier-gold .spon-logo { width: 90%; }
    .tier-silver .spon-logo { width: 80%; }
    .tier-bronze .spon-logo { width: 70%; }
}
