.page-schedule {
    text-align: center;
}

.schedule-table {
    border: 1px solid @grey;
    margin: 40px auto;

    th, td {
        background-color: lighten(@cusec-blue, 55%);

        &.speaker-slot {
            background-color: lighten(desaturate(@cusec-blue, 45%), 48%);
        }
    }

    td, th {
        border: 1px solid @black;
        padding: 0.25em 15px;
    }

    .schedule-room {
        color: darken(@cusec-blue, 8%);
        display: block;
        font-size: 0.8em;
    }

    .schedule-time { font-weight: bold; }
    .quart-hour { height: 1em; }
    .half-hour { height: 2em; }
    .one-hour { height: 4em; }
    .one-half-hour { height: 6em; }
    .long-free-time { height: 3em; }
    .long-time { height: 9em; }

    .free-time {
        background-color: darken(@grey, 5%);
    }
}

.desktop-schedule {
    @media @iphone {
        font-size: 0.7em;
        padding: 0;
        width: 100%;

        th,
        tr,
        td {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.mobile-schedule {
    .schedule-table {
        margin: 40px auto;
        width: 100%;
    }
}

.mobile-schedule-link {
    background-color: lighten(@cusec-blue, 20%);
    color: @black;
    padding: 10px;
    margin: 0 5px 0 0;

    &:visited,
    &:active {
        color: @black;
    }
}