.page-speakers {
    text-align: center;
    margin-bottom: 40px;

    .profiles {
        margin-bottom: 20px;
    }

    .speaker-subheading {
        .section-subheading;
        font-size: 1.3em;
    }

    .profiles-quicknav {
        margin: 50px auto;
        width: 940px;

        @media @iphone {
            width: auto;
        }

        @media @iphone-h {
            width: 360px
        }

        @media @ipad {
            width: 500px;
        }
    }

    .profile-quicknav {
        display: inline-block;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        img {
            width: 100px;

            @media @iphone {
                width: 50px;
            }

            @media @ipad {
                width: 80px;
            }
        }
    }

    .profile-desc {

        br {
            display: block;
            height: 2em;
        }

        .coming-soon {
            font-size: 0.9em;
            font-style: italic;
        }
    }

    .spk-announce {
        background: #DFDFDF;
    }
}